$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

$fraunces: 'Fraunces', serif;
$montserrat: 'Montserrat', sans-serif;

body {
    font-size: 14px;
    font-family: $montserrat;
    background: $Cream;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95%;
    height: 100vh;
    margin: 0px auto;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.btn {
    background: $Dark-cyan;
    padding: 20px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: $White;
    transition: all 300ms;

    span {
        padding-left: 10px;
    }

    &:hover {
        filter: brightness(0.9);
    }
}


.card {
    max-width: 375px;
    background: $White;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    &__img {
        img{
            width: 100%;
        }
    }

    &__content {
        padding: 20px;

        &--categorie {
            text-transform: uppercase;
            letter-spacing: 4px;
            color: $Dark-grayish-blue;
        }

        &--title {
            font-family: $fraunces;
            font-size: 2.5em;
            line-height: 1;
            margin: 10px 0px;
            color: $Very-dark-blue;
        }

        &--description {
            color: $Dark-grayish-blue;
            width: 92%;
        }
    }

    &__price {
        margin-bottom: 10px;

        &--new {
            color: $Dark-cyan;
            font-size: 2em;
            font-family: $fraunces;
        }

        &--old {
            color: $Dark-grayish-blue;
            padding-left: 20px;
            text-decoration: line-through;
            font-size: 1em;
        }
    }
}

@media (min-width:768px) {
    body{
        font-size: 16px;
    }
    .card{
        flex-direction: row;
        max-width: 700px;
        align-items: center;
        &__img{
            flex-basis: 50%;
        }
        &__content {
            flex-basis: 50%;
            padding: 20px 40px;
            &--description {
                width: 100%;
            }
        }
    }
}
